{% extends 'base.html' %}
{% block title %}
  {{ title|truncatechars:30 }}
{% endblock %}
{% block content %}
  <main>
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          {% if post.group %}  
            <li class="list-group-item">
              Группа: {{ post.group }}
              <a href="{% url 'posts:group_posts' post.group.slug %}">
              <p>
                все записи группы
              </p>
              </a>
            </li>  
          {% endif %}
          <li class="list-group-item">
            Автор: <span>{{ post.author.username }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: <span>{{ posts_amount }}</span>
          </li>
          <li class="list-group-item">
            <a href="{% url 'posts:profile' post.author.username %}">
            все посты пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>
          {{ post.text }}
        </p>
        {% if request.user == post.author %}
          <button type="submit" class="btn btn-primary">
            <a class="nav-link link-light" href="{% url 'posts:post_edit' post.id %}">Редактировать пост</a>
          </button>
        {% endif %}
      </article>
    </div> 
  </main>
{% endblock %}