{% extends 'base.html' %}
{% block title %}
  Профайл пользователя {{ author.username }}
{% endblock %}
{% block content %}
  <main>
    <h1>Все посты пользователя {{ author.username }}</h1>
    <h3>Всего постов: {{ posts_amount }}</h3>
    {% for post in page_obj %}        
      <article>
        <ul>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>
          {{ post.text }}
        </p>
        <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
      </article> 
      {% if post.group %}       
        <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы {{ post.group }}</a>
      {% endif %}
      <hr>
      <!-- Остальные посты. после последнего нет черты -->
    {% endfor %}
    {% include 'posts/includes/paginator.html'%}
  </main>
{% endblock %}