{% extends 'base.html' %}
{% block title %}
  Записи сообщества: {{ group.title }}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>
{% for post in page_obj %} 
  <li>Автор: {{ post.author.get_full_name }} <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
  <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
    <p>{{ post.text }}</p>
  <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
<br /> 
<a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% include 'posts/includes/paginator.html' %}
{% endblock %} 
