{% extends 'base.html' %}
{% block title %}
  Профиль пользователя {{ autgor.get_full_name }}
{% endblock %} 
{% block content %}
<div class="container py-5">        
  <h1>Все посты пользователя {{ author.get_full_name }} </h1>
  <h3>Всего постов: {{ author.posts.count }} </h3>
  {% for post in page_obj %}   
  <article>
    <ul>
      <li>
        Автор: {{ author.username }}
        <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"j E Y" }}
      </li>
    </ul>
    <p>
      {{ post.text }}
    </p>
    <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
    <br /> 
    {% if post.group %}       
  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
